{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Atendimento e Mensageria",
    "description": "API para interagir com o sistema de atendimento, permitindo o envio de mensagens via template do WhatsApp e a gestão de informações de leads. A autenticação é realizada através de uma chave de API (`x-api-key`) enviada no cabeçalho de cada requisição. A API também possui um sistema de limite de requisições (rate limiting) para garantir a estabilidade.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.zatten.com/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Mensagens",
      "description": "Endpoints para envio e consulta de mensagens."
    },
    {
      "name": "Leads",
      "description": "Endpoints para gerenciamento de dados de leads."
    },
    {
      "name": "Kanban",
      "description": "Endpoints para consulta de estruturas de organização do CRM."
    },
    {
      "name": "Tags",
      "description": "Endpoints para consulta de etiquetas (tags) de organização."
    }
  ],
  "paths": {
    "/messages/template": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Envia uma mensagem de template",
        "description": "Inicia uma conversa ou envia uma notificação para um lead utilizando um template pré-aprovado do WhatsApp. Se o lead com o `lead_number` informado não existir, um novo será criado no sistema.",
        "requestBody": {
          "description": "Dados necessários para o envio do template.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTemplateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação nos dados da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido. Tente novamente mais tarde.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages/text": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Envia uma mensagem de texto",
        "description": "Envia uma mensagem de texto simples (não-template) para um lead **existente**. Esta rota só funciona **dentro da janela de conversa de 24 horas** iniciada pelo lead.",
        "requestBody": {
          "description": "Dados necessários para o envio da mensagem de texto.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTextMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição. Pode ser devido a dados inválidos, lead não encontrado ou janela de conversa expirada.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "description": "Erro de validação Zod nos dados do corpo da requisição.",
                      "example": {
                        "error": "Validation error: Message is required"
                      }
                    },
                    {
                      "description": "Lead com o `lead_number` fornecido não foi encontrado.",
                      "example": {
                        "error": "Lead with number 5511999999999 not found"
                      }
                    },
                    {
                      "description": "A janela de conversa de 24 horas expirou.",
                      "example": {
                        "error": "Cannot send message — 24 hour conversation window expired"
                      }
                    },
                    {
                      "description": "Erro genérico ao tentar enviar a mensagem pela API da Meta.",
                      "example": {
                        "error": "Could not send message to number 5511999999999 - (Meta API Error Message)"
                      }
                    }
                  ],
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido. Tente novamente mais tarde.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages/audio": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Envia uma mensagem de áudio",
        "description": "Envia um arquivo de áudio para o lead. O sistema converte automaticamente o arquivo para o formato OGG Opus (formato nativo de voz do WhatsApp). Requer que o lead exista e esteja dentro da janela de conversa de 24h.",
        "requestBody": {
          "description": "Arquivo de áudio e identificação do lead.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SendAudioMessageMultipart"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação, lead não encontrado, janela expirada ou falha na conversão do arquivo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Atendente ou configurações de conexão não encontradas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Arquivo enviado excede o limite permitido de 50MB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages/image": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Envia uma mensagem de imagem",
        "description": "Envia uma imagem para o lead através de upload via multipart/form-data. Requer que o lead exista e esteja dentro da janela de conversa de 24h. Suporta legenda (caption) opcional.",
        "requestBody": {
          "description": "Arquivo de imagem, identificação do lead e legenda opcional.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SendImageMessageMultipart"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação, lead não encontrado, janela expirada ou erro no upload para a Meta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Atendente ou configurações de conexão não encontradas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Arquivo enviado excede o limite permitido de 50MB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages/file": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Envia uma mensagem de arquivo",
        "description": "Envia um arquivo (PDF, DOCX, etc.) para o lead através de upload via multipart/form-data. Requer que o lead exista e esteja dentro da janela de conversa de 24h. Permite definir um nome de arquivo personalizado.",
        "requestBody": {
          "description": "Arquivo, identificação do lead e nome opcional do arquivo.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SendFileMessageMultipart"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação, lead não encontrado, janela expirada ou erro no upload para a Meta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Atendente ou configurações de conexão não encontradas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Arquivo enviado excede o limite permitido de 50MB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages/video": {
      "post": {
        "tags": ["Mensagens"],
        "summary": "Envia uma mensagem de vídeo",
        "description": "Envia um vídeo para o lead. Formatos suportados: video/mp4, video/3gpp.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/SendVideoMessageMultipart" }
            }
          }
        },
        "responses": {
          "201": { "description": "Vídeo enviado.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendMediaResponse" } } } },
          "400": { "description": "Formato de vídeo não suportado." }
        }
      }
    },
    "/messages/history": {
      "get": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Busca o histórico de mensagens de um lead",
        "description": "Recupera o histórico de conversas e os dados associados a um lead, identificado pelo seu número de telefone. Pode retornar os dados em formato JSON ou como um texto único formatado para uso com Modelos de Linguagem (LLMs).",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "query",
            "description": "O número de telefone do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "description": "ID da thread cujas mensagens devem ser retornadas. Se omitido, busca as mensagens da thread atual do lead. A thread informada precisa pertencer ao lead do `leadNumber`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "llm_format",
            "in": "query",
            "description": "Se `true`, retorna um contexto formatado em texto para LLMs. Se `false`, retorna o histórico e os dados do lead em JSON.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Histórico de mensagens retornado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "description": "Contexto formatado para LLMs",
                      "title": "Com llm_format=true",
                      "$ref": "#/components/schemas/ContextResponse"
                    },
                    {
                      "description": "Histórico de mensagens e dados do lead em JSON",
                      "title": "Com llm_format=false",
                      "$ref": "#/components/schemas/MessageHistoryResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação nos parâmetros da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead com o telefone especificado não encontrado, ou `threadId` informado não pertence ao lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/kanban": {
      "get": {
        "tags": [
          "Kanban"
        ],
        "summary": "Busca informações de todas as colunas",
        "description": "Recupera uma lista com todas as colunas do Kanban configuradas para o atendente, incluindo ID, nome, descrição e cor de identificação.",
        "responses": {
          "200": {
            "description": "Lista de colunas retornada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KanbanColumnDetailed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Nenhuma coluna encontrada para o atendente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Busca informações de todas as tags",
        "description": "Recupera uma lista com todas as etiquetas (tags) configuradas para o atendente, incluindo ID, nome, descrição e cor.",
        "responses": {
          "200": {
            "description": "Lista de tags retornada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDetailed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Nenhuma tag encontrada para o atendente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/notes": {
      "patch": {
        "tags": [
          "Leads"
        ],
        "summary": "Atualiza a anotação de um lead",
        "description": "Adiciona ou substitui a anotação (nota) de um lead existente. É possível concatenar a nova nota com a anterior ou sobrescrevê-la completamente.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead a ser atualizado.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Conteúdo da anotação a ser adicionada.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anotação atualizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação no corpo da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead com o `leadNumber` especificado não encontrado para este atendente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/properties": {
      "patch": {
        "tags": [
          "Leads"
        ],
        "summary": "Atualiza uma propriedade de um lead",
        "description": "Modifica o valor de uma propriedade customizada associada a um lead. A propriedade (identificada pelo seu `slug`) deve ter sido previamente cadastrada no sistema.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead a ser atualizado.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Propriedade e novo valor a serem aplicados ao lead.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePropertyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Propriedade atualizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação no corpo da requisição ou valor da propriedade já é o mesmo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead ou Propriedade não encontrados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/threads": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Lista todas as threads de um lead",
        "description": "Retorna o histórico de threads (atendimentos) do lead, ordenado da mais recente para a mais antiga. A thread atual é a única com `closed_at` nulo. As demais foram encerradas (via reinício de thread). Use o `thread_id` retornado para buscar mensagens dessa thread em `/messages/history`.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de threads do lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLeadThreadsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead com o `leadNumber` especificado não encontrado para este atendente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/thread": {
      "patch": {
        "tags": [
          "Leads"
        ],
        "summary": "Reinicia a thread de conversa de um lead",
        "description": "Gera um novo ID de thread para o lead, efetivamente arquivando a conversa atual e iniciando uma nova. Útil para limpar o contexto que a IA utiliza para responder, sem apagar o histórico de mensagens.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Thread reiniciada com sucesso. Nenhum conteúdo retornado."
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead com o `leadNumber` especificado não encontrado para este atendente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/kanban": {
      "patch": {
        "tags": [
          "Leads"
        ],
        "summary": "Move um lead no Kanban",
        "description": "Altera a coluna do lead no Kanban.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "O ID da coluna de destino.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKanbanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead movido com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Update kanban successfully"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "Lead já está nesta coluna.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Lead is already in the specified kanban column"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação nos dados da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead ou Coluna não encontrados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/assignee": {
      "patch": {
        "tags": [
          "Leads"
        ],
        "summary": "Atualiza o responsável (usuário e departamento) de um lead",
        "description": "Atribui um lead a um usuário e a um departamento (time) específicos. O usuário informado precisa pertencer ao departamento informado.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "E-mail do usuário e ID do departamento a serem atribuídos ao lead.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssigneeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responsável do lead atualizado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Update assignee successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação nos dados da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead, usuário ou departamento não encontrados, ou usuário não pertence ao departamento informado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/toggle-attendant-response": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Ativa ou desativa a resposta da IA para um lead",
        "description": "Permite controlar programaticamente se o atendente de IA pode ou não responder a um lead específico. Útil para cenários onde uma intervenção humana é necessária e a IA deve ser silenciada temporariamente.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Define o estado desejado para a resposta da IA.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleAttendantResponseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "O estado da resposta da IA foi alterado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "204": {
            "description": "Nenhuma alteração foi necessária, pois a IA já se encontrava no estado desejado."
          },
          "400": {
            "description": "Erro de validação no corpo da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead com o `leadNumber` especificado não encontrado para este atendente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}/tag": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Adiciona uma tag a um lead",
        "description": "Associa uma tag existente a um lead específico. A tag deve estar previamente cadastrada no sistema.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "O ID da tag a ser adicionada.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag adicionada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tag added successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação no corpo da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead ou Tag não encontrados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "O lead já possui esta tag.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Lead already has tag {tagId}"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Remove uma tag de um lead",
        "description": "Desassocia uma tag de um lead específico. O ID da tag deve ser enviado no corpo da requisição.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "O ID da tag a ser removida.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag removida com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tag removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação no corpo da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "O lead não possui esta tag.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Lead does not have tag {tagId}"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadNumber}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Obtém informações do lead",
        "description": "Retorna os detalhes completos de um lead, incluindo tags, coluna do kanban e metadados.",
        "parameters": [
          {
            "name": "leadNumber",
            "in": "path",
            "description": "O número de WhatsApp (WaId) do lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações do lead retornadas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lead": {
                      "$ref": "#/components/schemas/LeadInformation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação ou requisição inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API (`x-api-key`) ausente ou inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendTemplateMessageRequest": {
        "type": "object",
        "required": [
          "lead_number",
          "template_name"
        ],
        "properties": {
          "lead_number": {
            "type": "string",
            "description": "Número de WhatsApp do destinatário (lead)."
          },
          "template_name": {
            "type": "string",
            "description": "Nome do template a ser enviado."
          },
          "name": {
            "type": "string",
            "description": "Nome do lead, utilizado caso o lead precise ser criado."
          }
        }
      },
      "SendTextMessageRequest": {
        "type": "object",
        "required": [
          "lead_number",
          "message"
        ],
        "properties": {
          "lead_number": {
            "type": "string",
            "description": "Número de WhatsApp do destinatário (lead)."
          },
          "message": {
            "type": "string",
            "description": "Conteúdo da mensagem de texto a ser enviada."
          },
          "name": {
            "type": "string",
            "description": "Nome do lead (opcional, não é usado para criar o lead nesta rota)."
          }
        }
      },
      "SendAudioMessageMultipart": {
        "type": "object",
        "required": ["lead_number", "file"],
        "properties": {
          "lead_number": { "type": "string" },
          "file": { "type": "string", "format": "binary", "description": "Arquivo de áudio." },
          "filename": { "type": "string", "description": "Nome personalizado para o arquivo." }
        }
      },
      "SendImageMessageMultipart": {
        "type": "object",
        "required": ["lead_number", "file"],
        "properties": {
          "lead_number": { "type": "string" },
          "file": { "type": "string", "format": "binary", "description": "Arquivo de imagem." },
          "caption": { "type": "string", "description": "Legenda da imagem." }
        }
      },
      "SendFileMessageMultipart": {
        "type": "object",
        "required": ["lead_number", "file"],
        "properties": {
          "lead_number": { "type": "string" },
          "file": { "type": "string", "format": "binary", "description": "Arquivo de documento." },
          "filename": { "type": "string", "description": "Nome personalizado para o arquivo." }
        }
      },
      "SendVideoMessageMultipart": {
        "type": "object",
        "required": ["lead_number", "file"],
        "properties": {
          "lead_number": { "type": "string" },
          "file": { "type": "string", "format": "binary", "description": "Arquivo de vídeo (mp4/3gpp)." },
          "caption": { "type": "string", "description": "Legenda do vídeo." }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "wa_id": {
            "type": "string",
            "description": "O ID do WhatsApp (WaId) do lead que recebeu a mensagem."
          },
          "name": {
            "type": "string",
            "description": "O nome do lead."
          },
          "thread_id": {
            "type": "string",
            "description": "O ID da thread de conversa associada ao lead."
          }
        }
      },
      "SendMediaResponse": {
        "type": "object",
        "properties": {
          "wa_id": { "type": "string" },
          "thread_id": { "type": "string" }
        }
      },
      "UpdateNoteRequest": {
        "type": "object",
        "required": [
          "note"
        ],
        "properties": {
          "note": {
            "type": "string",
            "description": "O conteúdo da anotação a ser salva."
          },
          "delete_previous_note": {
            "type": "boolean",
            "description": "Se `true`, a anotação antiga será substituída. Se `false`, a nova anotação será concatenada à antiga.",
            "default": false
          }
        }
      },
      "UpdatePropertyRequest": {
        "type": "object",
        "required": [
          "property",
          "value"
        ],
        "properties": {
          "property": {
            "type": "string",
            "description": "O `slug` da propriedade a ser atualizada."
          },
          "value": {
            "type": "string",
            "description": "O novo valor para a propriedade.",
            "minLength": 3,
            "maxLength": 255
          }
        }
      },
      "ToggleAttendantResponseRequest": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Define se a resposta automática do atendente de IA deve ser ativada (`true`) ou desativada (`false`) para o lead."
          }
        }
      },
      "AddTagRequest": {
        "type": "object",
        "required": [
          "tag_id"
        ],
        "properties": {
          "tag_id": {
            "type": "string",
            "description": "O ID da tag a ser adicionada."
          }
        }
      },
      "RemoveTagRequest": {
        "type": "object",
        "required": [
          "tag_id"
        ],
        "properties": {
          "tag_id": {
            "type": "string",
            "description": "O ID da tag a ser removida."
          }
        }
      },
      "UpdateKanbanRequest": {
        "type": "object",
        "required": [
          "column_id"
        ],
        "properties": {
          "column_id": {
            "type": "string",
            "description": "O ID da coluna de destino no Kanban."
          }
        }
      },
      "UpdateAssigneeRequest": {
        "type": "object",
        "required": [
          "user_email",
          "department_id"
        ],
        "properties": {
          "user_email": {
            "type": "string",
            "format": "email",
            "description": "E-mail do usuário que será definido como responsável pelo lead. O usuário deve pertencer ao departamento informado."
          },
          "department_id": {
            "type": "string",
            "description": "ID do departamento (time) ao qual o lead será atribuído."
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "KanbanColumnDetailed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único da coluna."
          },
          "name": {
            "type": "string",
            "description": "Nome da coluna."
          },
          "description": {
            "type": "string",
            "description": "Breve descrição do propósito da coluna."
          },
          "color": {
            "type": "string",
            "description": "Código hexadecimal da cor da coluna."
          }
        }
      },
      "TagDetailed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único da tag."
          },
          "name": {
            "type": "string",
            "description": "Nome da tag."
          },
          "description": {
            "type": "string",
            "description": "Breve descrição do propósito da tag."
          },
          "color": {
            "type": "string",
            "description": "Código hexadecimal da cor da tag."
          }
        }
      },
      "KanbanColumnInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "TagInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "LeadDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "annotation": {
            "type": "string"
          },
          "kanban_column": {
            "$ref": "#/components/schemas/KanbanColumnInfo"
          },
          "current_tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagInfo"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeadInformation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "annotation": {
            "type": "string"
          },
          "kanban_column": {
            "$ref": "#/components/schemas/KanbanColumnInfo"
          },
          "current_tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagInfo"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContextResponse": {
        "type": "object",
        "properties": {
          "context": {
            "type": "string",
            "description": "Um texto consolidado com as informações do lead e o histórico da conversa, formatado para LLMs."
          }
        }
      },
      "MessageHistoryResponse": {
        "type": "object",
        "properties": {
          "message_history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "lead": {
            "$ref": "#/components/schemas/LeadDetails"
          }
        }
      },
      "LeadThread": {
        "type": "object",
        "properties": {
          "thread_id": {
            "type": "string",
            "description": "Identificador da thread (`zt-thread-...`). Use este valor no parâmetro `threadId` de `/messages/history`."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora em que a thread foi criada."
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Data/hora em que a thread foi encerrada. `null` indica que é a thread atual."
          }
        }
      },
      "ListLeadThreadsResponse": {
        "type": "object",
        "properties": {
          "threads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadThread"
            }
          }
        }
      },
      "SuccessMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de sucesso da operação."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Descrição do erro ocorrido."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Chave de API necessária para autenticar todas as requisições."
      }
    }
  }
}